#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}


.form-control {
    display: flex; 
}

.form-control input {
    margin-right: 0.3rem;
}


#cancel-edit-btn {
    margin-top: 1rem;
}